.btn{
    font-size: var(--btn-font-size);
    border: none;
    border-radius: var(--btn-border-radius);
    padding: var(--btn-padding-y) var(--btn-padding-x);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
    color: black;

    cursor: pointer;
}

.flat-bottom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.red{
    background-color: red;
}

.crossBtn{
    background-color: white;

    aspect-ratio: 1;

    padding: 8px;

    background-image: url("./bgIm/crossBGIm.svg");
    background-position: center;
    background-repeat: no-repeat;
}
