.layout {
  --page-safty-padding-y: 10px;
  --page-gap:25px;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--page-gap);
  padding: var(--page-safty-padding-y) 0;
  background-color: blue;
}