.popupTemplate {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0; /* Начальное состояние - прозрачный */
    visibility: hidden; /* Скрываем из DOM, но оставляем место */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.popupTemplate.visible {
    opacity: 1; /* Видимый */
    visibility: visible; /* Показываем */
}