.main{
    flex-grow: 1;/* stratchable block */
    /* inner content organisation */
    display: flex;
    flex-direction: column;
    gap: var(--main-flex-gap);
    /* inner content organisation */
  }