.main{
  --main-flex-gap:20px;

  display: flex;
  flex-direction: column;
  gap: var(--main-flex-gap);
  padding: 0 25px;
}

.main__graph{
  flex-grow: 1;
}

.main__settings{
  --settings-section-height: 30%; 
  width: 100%;
  height: var(--settings-section-height);
}