.optimization{
  padding: 0 25px;
}

.optimization__steps{
  min-width: 150px;
  width: 100%;
  margin:0 auto ;
}

.optimization__btnsList{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 1em;
}

.optimization__local-params{
  max-width: 800px;
  margin: 0 auto;
}

.optimization__grid-item{
  border: 1px solid rgb(204, 204, 204);
  border-radius:8px;
  padding: 10px;
}
