.optimization{
  padding: 0 25px;
}

.optimization__btnsList{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 1em;
}

.optimization__grid-item{
  border: 1px solid rgb(204, 204, 204);
  border-radius:8px;
  padding: 10px;
}
.optimization__grid-item:last-child{
  padding: 0;
}
