/* glob */
:root{
    /* general */
    --container-horizontal-padding: 25px;
    --page-safty-padding-y: 10px;
    --page-gap:10px;
    /* general */
  
    /* header */
    --header-menu-gap-x: 10px;
    /* header */
  
    /* main */
    --main-flex-gap:20px;
    /* main */
  
    /* graph */
    --graph-section-height: 70%;
    /* graph */
  
   /* settings */
   --settings-section-height: 30%;
   --settings-form-gap: 15px;
   /* settings */
  
    /* colors */
    /* colors */
  
    /* typography */
    --standard-text-font-size:1rem;
  
    --list-font-size:1.125rem;
    /* typography */
  }
  