.cplot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  overflow: auto;
}

.cplot__item {
  position: relative;
  flex-grow: 1;
  min-width: 600px;
  height : 100%
}

.cplot__error {
  position: absolute;
  bottom: 8px;
  right: 12px;
    padding: 2px 6px;
  border-radius: 4px;

  background: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 1rem;
  pointer-events: none;
}
