.popUpWindow{
    position: relative;
    background-color: white;
    padding: 20px;
}

.popUpWindow__closeBtn{
    position: absolute;
    top:0;
    right:0
}

.popUpBtn{
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.popUpBtn.visible {
    opacity: 1;
    visibility: visible;
}